<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap">
    <link rel="stylesheet" href="styles/register.css">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script defer src="scripts/avatar.js"></script>
    <title>Register</title>
</head>

<body>
    <div class="title">
        Don’t bet on <br>
        your soul
    </div>

    <section class="container" x-data="{ isRegister: true }">
        <div class="header">
            <button class="tab" :class="{ 'tab-active': !isRegister }" @click="isRegister = false">Login</button>
            <button class="tab" :class="{ 'tab-active': isRegister }" @click="isRegister = true">Register</button>
        </div>

        <form class="container-register" id="register-form" x-show="isRegister" hx-post="/api/register"
            hx-trigger="submit" hx-target="#response" hx-ext='json-enc'
            hx-headers='{"Content-Type": "application/json"}'>

            <div class="input-box">
                <label>Username</label>
                <input type="text" name="username" required>
            </div>
            <div class="input-box">
                <label>Email</label>
                <input type="email" name="email" required>
            </div>
            <div class="input-box">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>

            <div class="avatar-grid" id="avatarContainer"></div>
            <input type="hidden" name="avatar" id="selectedAvatar">

            <button class="submit-btn" type="submit">Register</button>
        </form>

        <form class="container-login" id="login-form" x-show="!isRegister" hx-post="/api/login" hx-trigger="submit"
            hx-include="#login-form" hx-target="#response" hx-headers='{"Content-Type": "application/json"}'
            hx-ext='json-enc'>
            <div class="input-box">
                <label>Email</label>
                <input type="email" name="email" required>
            </div>
            <div class="input-box">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>
            <button class="submit-btn" type="submit">Login</button>
        </form>

        <div id="response"></div>
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const avatarContainer = document.getElementById('avatarContainer');
            const selectedAvatarInput = document.getElementById('selectedAvatar');

            avatarContainer.addEventListener('click', function (event) {
                if (event.target && event.target.tagName === 'IMG') {
                    const avatarDiv = event.target.closest('.avatar-item');
                    const avatarPath = event.target.src;

                    document.querySelectorAll('.avatar-item').forEach(item => item.classList.remove('selected'));
                    avatarDiv.classList.add('selected');

                    selectedAvatarInput.value = avatarPath;
                }
            });
        });
    </script>
    <script>
        document.addEventListener("htmx:afterRequest", (event) => {
            const responseDiv = document.getElementById("response");
            responseDiv.classList.remove("error-message", "success-message");
            if (event.detail.successful) {
                const response = JSON.parse(event.detail.xhr.responseText);
                if (response.token) {
                    localStorage.setItem("authToken", response.token);
                    responseDiv.classList.add("success-message");
                    if (response.message) {
                        responseDiv.innerText = "Registered successfully!";
                    } else {
                        responseDiv.innerText = "Logged in successfully!";
                    }
                    setTimeout(() => {
                        window.location.href = "/roulette";
                    }, 1000);
                } else {
                    console.log("error:", response);
                    responseDiv.classList.add("error-message");
                    responseDiv.innerText = response;
                }
            } else {
                const response = event.detail.xhr.responseText;
                console.log("error:", response);
                responseDiv.classList.add("error-message");
                responseDiv.innerText = response;
            }
        });
    </script>
</body>

</html>